<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>MOMOKJI</title>
</head>
<body>
    <div>
        <a href="/category?value=type">분류별</a>
        <a href="/category?value=source">식재료별</a>
        <a href="/category?value=situation">상황별</a>
        <a href="/category?value=country">나라별</a>   
    </div>
</body>
</html>