<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOMOKJI - Country</title>
    <link rel="stylesheet" href="/public/styles/category.css">
</head>
<body>
    <h1>나라별</h1>
    <ul>
        <li><a href="/views/category/country/japan.html">일본</a></li>
        <li><a href="/views/category/country/korea.html">한국</a></li>
        <li><a href="/views/category/country/china.html">중국</a></li>
        <li><a href="/views/category/country/italy.html">이탈리아</a></li>
        <li><a href="/views/category/country/asia.html">동남아</a></li>
        <li><a href="/views/category/country/france.html">프랑스</a></li>
        <li><a href="/views/category/country/usa.html">미국</a></li>
        <li><a href="/views/category/country/middle.html">중동</a></li>
    </ul>
    <a href="javascript:window.history.back();">Go back</a>
</body>
</html>