<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOMOKJI - Situation</title>
    <link rel="stylesheet" href="/public/styles/category.css">
</head>
<body>
    <h1>상황별</h1>
    <ul>
        <li><a href="/views/category/situation/guest.html">손님대접</a></li>
        <li><a href="/views/category/situation/hangover.html">해장</a></li>
        <li><a href="/views/category/situation/snack.html">간식/야식</a></li>
        <li><a href="/views/category/situation/lunch.html">도시락</a></li>
        <li><a href="/views/category/situation/nourshing.html">영양식</a></li>
        <li><a href="/views/category/situation/diet.html">식이조절</a></li>
        <li><a href="/views/category/situation/fast.html">초스피드</a></li>
        <li><a href="/views/category/situation/brunch.html">브런치</a></li>
    </ul>
    <a href="javascript:window.history.back();">Go back</a>
</body>
</html>