<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOMOKJI - Source</title>
    <link rel="stylesheet" href="/public/styles/category.css">
</head>
<body>
    <h1>식재료별</h1>
    <ul>
        <li><a href="/views/category/source/potato.html">감자/양파</a></li>
        <li><a href="/views/category/source/tuna.html">참치캔</a></li>
        <li><a href="/views/category/source/pork.html">돼지고기</a></li>
        <li><a href="/views/category/source/ramen.html">라면</a></li>
        <li><a href="/views/category/source/chicken.html">닭고기</a></li>
        <li><a href="/views/category/source/rice.html">찬 밥</a></li>
        <li><a href="/views/category/source/vegetable.html">자투리 채소</a></li>
        <li><a href="/views/category/source/egg.html">달걀</a></li>
    </ul>
    <a href="javascript:window.history.back();">Go back</a>
</body>
</html>