<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOMOKJI - Type</title>
    <link rel="stylesheet" href="/public/styles/category.css">
</head>
<body>
    <h1>분류별</h1>
    <ul>
        <li><a href="/views/category/type/stew.html">찌개/탕</a></li>
        <li><a href="/views/category/type/banchan.html">밑반찬</a></li>
        <li><a href="/views/category/type/spacial.html">특식</a></li>
        <li><a href="/views/category/type/rice.html">덮밥/볶음밥</a></li>
        <li><a href="/views/category/type/soup.html">국</a></li>
        <li><a href="/views/category/type/night.html">야식/술안주</a></li>
        <li><a href="/views/category/type/noodle.html">면</a></li>
        <li><a href="/views/category/type/snack.html">간식</a></li>
    </ul>
    <a href="javascript:window.history.back();">Go back</a>
</body>
</html>